---
layout: default
title: Art
---



<div class="art-list">
  {% assign sorted_art = site.art | sort: "order" | reverse %}
  {% for art_piece in sorted_art %}
    <div class="art-item">
      <div class="art-title">
        <h4 style="text-align: center;"><a href="{{ art_piece.url | relative_url }}">{{ art_piece.title }}</a></h4>
      </div>
      <div class="art-thumbnail">
        {% if art_piece.excerpt %}
          <a href="{{ art_piece.url | relative_url }}">
            <div class="excerpt">{{ art_piece.excerpt }}</div>
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>