
/* Dark Mode Styles */
body.dark-mode {
    background-color: #1a1a1a; /* Dark background */
    color: #f0f0f0; /* Light text */
}

body.dark-mode .site-header {
    background-color: #2a2a2a;
    border-bottom: 1px solid #3a3a3a;
}

body.dark-mode .site-nav .page-link {
    color: #f0f0f0;
}

body.dark-mode .site-nav .page-link:hover {
    color: #bbbbbb;
}

body.dark-mode .post-link {
    color: #f0f0f0;
}

body.dark-mode .post-link:hover {
    color: #bbbbbb;
}

body.dark-mode .site-footer {
    background-color: #2a2a2a;
    border-top: 1px solid #3a3a3a;
    color: #f0f0f0;
}

/* Theme Switch Styles */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (max-width: 768px) {
    body::before,
    body::after {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1000; /* Ensure they are above content */
        pointer-events: none; /* Allow clicks/touches to pass through */
    }

    body::before {
        top: 0;
        height: 20dvh; /* Dynamic viewport height for modern browsers */
        height: 20vh; /* Fallback for older browsers */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    body::after {
        bottom: 0;
        height: 20dvh; /* Dynamic viewport height for modern browsers */
        height: 20vh; /* Fallback for older browsers */
        background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
}

.project-list, .art-list {
  display: flex;
  flex-direction: column;
}

.project-item, .art-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project-title, .art-title {
  flex: 1;
  padding: 0 20px;
}

.project-thumbnail, .art-thumbnail {
  flex: 1;
  text-align: center;
}

