<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        (function() {
            var theme = localStorage.getItem('theme') || 'light-mode';
            document.documentElement.className = theme;
            document.documentElement.style.backgroundColor = (theme === 'dark-mode') ? '#1a1a1a' : '#fff';
        })();
    </script>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="{% if page.url == '/programming.html' or page.url == '/art.html' %}centered-content-page{% endif %}">
    <div id="holder"></div>
    <div class="container">
        <div class="header">
            <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
            <nav>
                <ul>
                    <li>{% if page.url == '/about.html' %}<span class="nav-circle"></span>{% endif %}<a href="{{ '/about.html' | relative_url }}">About Me</a></li>
                    <li>{% if page.url == '/programming.html' %}<span class="nav-circle"></span>{% elsif page.url contains '/programming/' %}<span class="nav-circle"></span><span class="nav-circle"></span>{% endif %}<a href="{{ '/programming.html' | relative_url }}">Programming</a></li>
                    <li>{% if page.url == '/art.html' %}<span class="nav-circle"></span>{% elsif page.url contains '/art/' %}<span class="nav-circle"></span><span class="nav-circle"></span>{% endif %}<a href="{{ '/art.html' | relative_url }}">Art</a></li>
                    <li>{% if page.url == '/blog.html' %}<span class="nav-circle"></span>{% elsif page.url contains '/blog/' %}<span class="nav-circle"></span><span class="nav-circle"></span>{% endif %}<a href="{{ '/blog.html' | relative_url }}">Blog</a></li>
                </ul>
            </nav>
        </div>
        <div class="wrapper">
            <div class="content">
                {{ content }}
            </div>
        </div>
        <div class="theme-toggle-wrapper">
    <div class="theme-option">
      <input type="radio" id="light-mode" name="theme" value="light-mode" checked>
      <label for="light-mode">Light</label>
    </div>
    <div class="theme-option">
      <input type="radio" id="dark-mode" name="theme" value="dark-mode">
      <label for="dark-mode">Dark</label>
    </div>
  </div>
  <script src="{{ '/script.js' | relative_url }}"></script>
  <div class="footer">
            <p>Austin, Texas</p>
            <p><a href="https://www.utexas.edu/">University of Texas at Austin</a></p>
            <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            <p><a href="https://github.com/sidvenkatayogi">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/sidvenkatayogi">LinkedIn</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/sidvenkatayogi">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://sidvenkatayogi.bsky.social">Bluesky</a></p>
        </div>
</body>
</html>